@charset "UTF-8";
/*初始化*/
*
{
    margin: 0;
    padding: 0;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

body
{
    font-size: 12px;

    overflow-x:hidden;
}

img
{
    border: none;
}

li
{
    list-style: none;
}

input,
select,
textarea
{
    border: none;
    outline: none;
}

textarea
{
    resize: none;
}

a
{
    text-decoration: none;

    color: #666;
}
body, button, input, select, textarea{
    font-family: PingFang, SC, Lantinghei, Helvetica, Neue, Microsoft, Yahei, Hiragino, Sans, GB, Serif, WenQuanYi, Micro, Hei, sans;
}
.linked{
    color:#0089dc;
}
/*清除浮动*/
.clearfix:after
{
    display: block;
    clear: both;

    content: '';
}

.clearfix
{
    zoom: 1;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}


